/*!
 * Start Bootstrap - Grayscale v5.0.3 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

 @font-face {
  font-family: 'babyk';
  src: url("../fonts/BABYK___.TTF") format("embedded-opentype"), url("../fonts/BABYK___.TTF") format("ttf"), url("../fonts/BABYK___.TTF") format("truetype"), url("../fonts/BABYK___.TTF") format("svg");
  font-weight: normal;
  font-style: normal; 
}

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #dc3545;
  border: 1px solid #dc3545;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #dc3545;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #dc3545;
    outline: none;
    border-bottom: 0.25rem solid #dc3545;
  }

  .masthead .container {
    height: 100%!important;
  }
}


.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgb(22, 22, 22) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(../imgs/bg-masthead.jpg);
  
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'babyk';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 33rem;
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #dc3545;
}

.btn-primary:hover {
  background-color: #dc3545a8;
}

.btn-primary:focus {
  background-color: #dc3545a8;
  color: white;
}

.btn-primary:active {
  background-color: #dc3545 !important;
}

.about-section {
  padding-top: 6rem;
  padding-right: 20px;
  padding-left: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

/* .about-section p {
  margin-bottom: 5rem;
} */

.nplanos-section {
  padding: 6rem 0;
}

.nplanos-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .nplanos-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #dc3545;
  }
}

.nplanos-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .nplanos-section .project-text {
    padding: 5rem;
  }
  .nplanos-section .project-text hr {
    border-color: #dc3545;
    border-width: .25rem;
    width: 30%;
  }
  .nplanos-section .project {
    height: 344px !important;
  }
}

.assine-section {
  padding: 7rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../imgs/bg-superheros.jpg");
  /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../imgs/bg-superheros.jpg"); */
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.81) 0%, rgba(22, 22, 22, 0.87) 75%, #161616 100%), url(../imgs/bg-superheros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.assine-section h2 {
  font-size: 2.6rem !important;
}

.assine-section .form-block input, .assine-section .form-block select {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #dc3545;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #dc3545;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}


/* Alterações do Template */

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #dc3545;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #dc3545 !important;
}

.text-primary {
  color: #dc3545 !important;
}

footer {
  padding: 5rem 0;
}

.red-box {
  border: 1px dotted red !important;
  padding: 10px !important;
  border-radius: .25rem;
}

.div-img {
  max-width: 300px;
  margin: 0 auto;
}

.full {
  width: 100%;
  height: 100%;
}

.subtitle {
  background: #00000094;
  border-radius: 20px;
}

.add-tel, .add-cel {
  font-size: 30px;
}

.inputPlano {
    width: 20px;
    height: 20px;
    vertical-align: sub;
    margin-right: 5px;
}

.tipo-plano {
  font-size: 19px;
}
